{% extends 'base.html' %}

{% block content %}
<form method="post" action="."> {% csrf_token %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Record Transaction</h5>
      {{ transaction_form }}<br>
      <button type="submit" id="payBtn" class="btn btn-primary" disabled>Pay</button>
    </div>
  </div>
</form>
<hr/>

{% endblock %}

{% block js %}
<script>
  $("#id_receiver").on("input", function(){
    let username = $(this).val();
    if(username.length === 10){
      $.ajax({
        url: '/ajax/',
        method: 'POST',
        headers: { 'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val() },
        data: { username },
      }).done(function(data) {
        $('label[for="id_receiver"]').text(`Send money to ${data.first_name}:`);
        $('#payBtn').prop('disabled', false);
      })
      .fail(function (xhr) {
        $('label[for="id_receiver"]').text(`Send money to "Error: ${xhr.responseJSON.error}"`);
        $('#payBtn').prop('disabled', true);
      });
    } else {
      $('#payBtn').prop('disabled', true);
    }
  });
</script>
{% endblock %}
